@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

body {
  font-family: 'Patrick Hand', cursive;
  margin: 0;
}

#computer {
  margin: 18px 30px 30px 30px;
}

#mobile {
  display: none;
}

#mobilediv {
  margin: 30px 20px 20px 20px;
}

#lokal {
  font-size: 20px;
}

#mobilediv > p {
  margin: 0 0 20px 0;
  padding: 16px;
  background: #ffeb3b;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

.contentmobile {
  margin: 0 0 20px 0;
  z-index: 1;
}

.contentmobile > p {
  padding: 0 0 0 16px;
  margin: 0;
  padding: 16px;
  border: 1px solid #dddddd;
}

#flex {
  background: #62a4b9;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

#clock {
  background: lightblue;
  text-align: center;
}

.contentmobile > p:nth-child(even) {
  background-color: #dddddd;
}

table {
  border-collapse: collapse;
  border-spacing: 10px;
  font-size: 17px;
}

#large {
  background-color: #62a4b9;
  text-align: center;
}

#space {
  background-color: white;
  border: none;
}

#space > td {
  border: none;
}

#large > td {
  padding: 15px;
  border: none;
}

#blue {
  background-color: lightblue;
  border: 1px solid #dddddd;
  text-align: left;
}

.content:nth-child(even) {
  background-color: #dddddd;
  text-align: left;
}

td, th {
  padding: 12px;
  border: 1px solid #dddddd;
}

h2 {
  text-align: center;
  margin: 30px 0 0 0; 
}

@media screen and (max-width: 915px) {
  #computer {
    display: none;
  }
  #mobile {
    display: inline;
  }
}