<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
        <title>Informationsarkitektur 18</title>
    </head>

    <div id="computer">

      <table cellpadding="10px">
      {% for saker in schema %}
        <tr id="space">
          <td colspan="7"></td>
        </tr>
        <tr id="large">
          <td colspan="7">Vecka {{ saker[0][9] }}</td>
        </tr>
        <tr id="blue">
          <th> Datum </th>
          <th> Dag </th>
          <th> Kursnamn </th>
          <th> Sign </th>
          <th> Moment </th>
          <th> Tid </th>
          <th> Lokal </th>
        </tr>
        {% for i in saker %}
          {% if i[0] == True %}
            <tr class="content">
              <td width="8%"> {{ i[12] }} {{ i[11] }} {{ i[10] }} </td>
              <td width="6%"> {{ i[1] }} </td>
              <td width="28%"> {{ i[2] }} </td>
              <td width="15%"> {{ i[3] }} </td>
              <td> {{ i[4] }} </td>
              <td width="10%"> {{ i[6] }} - {{ i[7] }} </td>
              <td width="7%"> {{ i[8] }} </td>
            </tr>
          {% else %}
            <tr class="content">
              <td></td>
              <td></td>
              <td> {{ i[2] }} </td>
              <td> {{ i[3] }} </td>
              <td> {{ i[4] }} </td>
              <td> {{ i[6] }} - {{ i[7] }} </td>
              <td> {{ i[8] }} </td>
            </tr>
          {% endif %}
        {% endfor %}
        {% endfor %}
      </table>

    </div>

    <div id="mobile">

      <div id="mobilediv">
      {% for saker in schema %}

        <p> Vecka {{ saker[0][9] }} </p>

        {% for i in saker %}
          {% if i[0] == True %}

            <div class="contentmobile">

              <div id="flex">
                <p> {{ i[1] }} </p>
                <p> {{ i[12] }} {{ i[11] }} {{ i[10] }} </p>
              </div>

              <div id="second">
                <div id="clock_local">
                  <p> {{ i[6] }} </p>
                  <p id="clockEnd"> {{ i[7] }} </p>
                  <div id="lokaler">
                    {% for lokal in i[8] %}
                      <p> {{ lokal }} </p>
                    {% endfor %}
                  </div>
                </div>
                <div id="other">
                  <p> {{ i[3] }} </p>
                  <p> {{ i[2] }} </p>
                  <p> {{ i[4] }} </p>
                </div>
              </div>
          
            </div>
          {% else %}

              <div class="contentmobile">

                <div id="second">
                <div id="clock_local">
                  <p> {{ i[6] }} </p>
                  <p id="clockEnd">{{ i[7] }}</p>
                  <div id="lokaler">
                    {% for lokal in i[8] %}
                      <p> {{ lokal }} </p>
                    {% endfor %}
                  </div>
                </div>
                <div id="other">
                  <p> {{ i[3] }} </p>
                  <p> {{ i[2] }} </p>
                  <p> {{ i[4] }} </p>
                </div>
              </div>
          
              </div>
          {% endif %}
        {% endfor %}
        
        {% endfor %}
      </div>

    </div>

  </body>
</html>
